/*
f4f1de
e07a5f
3d405b
81b29a
f2cc8f
*/

html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin:0;
}

header{
    background-color:#81b29a;
    color:white;
    padding:15px;
    font-size: 18px;
}

.articles{
    background-color:#f4f1de;
    text-align: justify;
    width:200px;
    height: 250px;
    text-align: center;
    border-radius:4px;
    margin-top: 20px;
    margin-left:50px;
}

a{
    color:black;
    text-decoration:none;
}

img{
    width:200px;
    height:125px;
    border-radius:4px;
}

.leer-mas{
    color:#2fafde
}

.fa-twitter{
    color:#2fafde;
}

.personal{
    height:160px;
    width:225px;
    margin-left: 20px;
    float:left;
}

.fa-instagram{
    color: #642B73;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sobre-mi{
    height:160px;
    width:500px;
    float:right;
    margin-right: 550px;
}