/*
 azul-011627 
blanco-fdfffc
celeste-2ec4b6
rojo-e71d36
amarillo-ff9f1c
*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-transform: capitalize;
    text-align:center;
}

img{
    max-width:100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    opacity:0.8;
}

.container{
    background: #DBE6F6;  /* respaldo para navegadores antiguos */
background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ec4b6, #ff9f1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
.content{
    max-width: 960px;
    max-height: 500px;
    height: 80vh;
    width: 100%;
    background-color:white;
    /* box-shadow: diferenciahorizontal diferencia vertical desenfoque amplitud color; */
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0px 3px 6px rgba(0,0,0,0.23);
    border-radius:4px;
    position:relative;
    padding:1em;
    overflow:scroll;
}

.content{
    padding:1em:;
}
td{
    display:block;
    width:100%;
}

td: nth-of-type(1){
    font-size: 1.5em;
    font-weight:bold; 
    background-color:red;
}
th{
    display:none;
}

.close{
    background-color: #ff9f1c;
}

.actions{
    position:absolute;
    top:1em;
    right:1em;
}

.close{
    height:40px;
    width:40px;
    color:white;
    border-radius:50%;
    display:inline-block;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0px 3px 6px rgba(0,0,0,0.23);
    font-weight:300px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}

.parrafo{
    line-height: 1.8em;
    font-weight: 200;
}

.table{
    width:100%;
    border-spacing:0;
}
.table td, .table th{
    padding:1em;
    text-align:left;
}

.table tr:nth-child(even){
    background-color:#f3e5f5;
}

.fa-star{
    color:yellow;
}

.title-item{
    /* border-bottom-style:solid;
    border-width:2px;
    border-color:#2ec4b6; */
    font-size:2em;
    border-bottom: solid 2px #2ec4b6;
    padding-bottom:1em;
}

.main-images{
    float:left;
    margin-right:1em;
    height:250px;
}

address{
    font-weight:bold;
    color:#ff9f1c;
    font-size:1.2em;
}

.position{
    background:#2ec4b6;
    color:white;
    padding: 10px;
    border-radius:4px;
    margin-right:0.5em;
}

@media (min-width:900px){
    th{
        display:table-cell;
    }
    td{
        width:auto;
        display:table-cell;
    }
    td:nth-of-type(1){
        font-size:1em;
    }
}

@media (min-height:550px){
    .content{
        height:500px;
    }
}